@import "reset.css";
@import "variables.css";

/* Components */

@import "./components/header.css";

/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/golos-text-regular.woff2") format("woff2"),
    url("../assets/fonts/golos-text-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/golos-text-500.woff2") format("woff2"),
    url("../assets/fonts/golos-text-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/golos-text-700.woff2") format("woff2"),
    url("../assets/fonts/golos-text-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/merriweather-regular.woff2") format("woff2"),
    url("../assets/fonts/merriweather-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/merriweather-700.woff2") format("woff2"),
    url("../assets/fonts/merriweather-700.woff") format("woff");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
}
